@import url('https://fonts.cdnfonts.com/css/minecraft-4');
.huh{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    color: orange;
}
.txt2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    color: aqua;
}
.txt3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    color: rgba(255, 166, 0, 0.678);
}
.bnd1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    color: gold;
}
.bnd2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
    color: gold;
}